<phpunit
	bootstrap="../oik-batch/oik-wp.php"
	backupGlobals="false"
	colors="false"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<!-- for PHPUnit 4.8.0 or 5.5.2 -->
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">tests/</directory>
		</testsuite>
	</testsuites>
</phpunit>
